<app-layout>


  <div *ngIf="loading" class="loading-state">
    <div class="spinner"></div>
    <p>جاري التحميل...</p>
  </div>

<div class="container mt-2" dir="rtl">
  <div class="card shadow-sm border-0">
    <div class="card-header bg-white py-3 border-bottom-0">
      <div class="row align-items-center">
        <div class="col">
          <h5 class="mb-0 fw-bold">قائمة المستخدمين</h5>
        </div>
        <div class="col-md-4">
        <div class="input-group">
  <input type="text" 
         class="form-control bg-light border-end-0" 
         placeholder="بحث برقم الهوية ..." 
         (input)="onSearch($event)">

</div>
        </div>
      </div>
    </div>

    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
          <thead class="table-light">
            <tr>
              <th class="px-4">#</th>
              <th>رقم الهوية</th>
              <th>الاسم الكامل</th>
                <th>الحاله</th>
              <th>الرتبة</th>
             
              <th class="text-center">الإعدادات</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of MawaradUsers?.items; let i = index">
              <td class="px-4 text-muted">{{ i + 1 }}</td>
              <td class="fw-medium">{{user.userName}}</td>
              <td>{{user.fullName}}</td>
         <td>
  <span class="badge" [ngClass]="user.isActive ? 'text-bg-success' : 'text-bg-danger'">
    {{ user.isActive ? "نشط" : "غير نشط" }}
  </span>
</td>
              <td><span class="badge text-bg-info">{{user.employeeRank}}</span>
               </td>
              <td class="text-center">
                <div class="dropdown">
                  <button class="btn btn-sm dropdown-toggle custom-btn-gold" type="button" data-bs-toggle="dropdown">
                    الاعدادات
                  </button>
                  <ul class="dropdown-menu text-end shadow-sm border-0">

                    <li>
  <a class="dropdown-item py-2" 
     href="javascript:void(0)" 
     data-bs-toggle="modal" 
     data-bs-target="#userRoleModal"
     (click)="onPreparedRole(user.id)">
    <i class="bi bi-shield-plus ms-2 text-primary"></i>اضافة صلاحية
  </a>
</li>
                    <li>
                      <a class="dropdown-item py-2" href="javascript:void(0)" (click)="onToggleStatus(user)">
  <i class="bi" [ngClass]="user.isActive ? 'bi-person-x text-danger' : 'bi-person-check text-success'"></i>
  <span class="ms-2">
    {{ user.isActive ? 'تعطيل الحساب' : 'تفعيل الحساب' }}
  </span>
</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
<div class="card-footer bg-white py-3 border-top">
  <div class="d-flex justify-content-between align-items-center" dir="rtl">
    
    <div class="d-flex align-items-center gap-2">
      <button class="btn btn-link text-decoration-none text-muted p-0 ms-3" 
              [disabled]="MawaradUsers?.pageNumber === 1"
              (click)="onPageChange(MawaradUsers!.pageNumber - 1)">
        السابق
      </button>

      <div class="pagination-numbers d-flex gap-1">
        <ng-container *ngFor="let page of getPageNumbers()">
          <span *ngIf="page < 0" class="text-muted mx-1">...</span>
          <span *ngIf="page >= 0" class="page-num"
                [class.active]="page === MawaradUsers?.pageNumber"
                (click)="onPageChange(page)">{{ page }}</span>
        </ng-container>
      </div>

      <button class="btn btn-link text-decoration-none text-dark p-0 me-3" 
              [disabled]="MawaradUsers?.pageNumber === MawaradUsers?.totalPages"
              (click)="onPageChange(MawaradUsers!.pageNumber + 1)">
        التالي
      </button>
    </div>

    <div class="d-flex align-items-center gap-2">
      <div class="custom-select-wrapper">
        <select class="form-select form-select-sm" (change)="onPageSizeChange($event)">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
        </select>
      </div>
    </div>

  </div>
</div>
 
  </div>
</div>


</app-layout>



<!-- Model -->

<div class="modal fade" id="userRoleModal" tabindex="-1" aria-labelledby="userRoleModalLabel" aria-hidden="true" dir="rtl">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow">
      <div class="modal-header bg-light">
        <h5 class="modal-title fw-bold" id="userRoleModalLabel">إسناد صلاحية للمستخدم</h5>
        <button type="button" class="btn-close ms-0 me-auto" data-bs-dismiss="modal" id="closeRoleModal"></button>
      </div>
      <div class="modal-body py-4">
        <div class="mb-3 text-end">
          <label class="form-label fw-semibold">قائمة الصلاحيات المتاحة:</label>
          
          <ng-select 
              [items]="lookupRoles" 
              bindLabel="displayName" 
              bindValue="id" 
              [(ngModel)]="selectedRoleIds"
              [loading]="loadingRoles"
              (scrollToEnd)="onLoadMoreRoles()"
              [virtualScroll]="true"
              placeholder="اختر الصلاحية أو ابحث عنها..."
              class="custom-ng-select">
              
              <ng-template ng-option-tmp let-item="item">
                  {{ item.displayName || item.name }}
              </ng-template>
          </ng-select>
          
        
        </div>
      </div>
      <div class="modal-footer bg-light border-0">
        <button type="button" class="btn btn-secondary px-4" data-bs-dismiss="modal">إلغاء</button>
        <button type="button" class="btn btn-primary px-4 custom-btn-gold" 
                [disabled]="!selectedRoleIds"
                (click)="onSaveUserRole()">
          حفظ البيانات
        </button>
      </div>
    </div>
  </div>
</div>