

.card {
    border-radius: 12px;
    overflow: hidden;
}

.custom-btn-gold {
    background-color: #303A4A;
    color: #fff;
    border: 1px solid #f3e5c2;
    padding: 0.4rem 1rem;
    border-radius: 6px;
    transition: all 0.3s;
}

.custom-btn-gold:hover {
    background-color: #1d6d6e;
    color: #fff;
    border-color: #fff;
}

.table-light th {
    background-color:#303A4A ;
    color: #fff;
    font-weight: 600;
    font-size: 0.85rem;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-footer {
    border-top: 1px solid #f0f0f0;
}

.form-control:focus {
    box-shadow: none;
    border-color: #174546;
}


/* أرقام الصفحات */
.page-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 4px; 
    cursor: pointer;
    font-size: 14px;
    color: #333;
    transition: all 0.2s ease;
}

.page-num.active {
    background-color: #174546; 
    color: white !important;
}

.page-num:hover:not(.active) {
    background-color: #f5f5f5;
}

.btn-link {
    font-size: 14px;
    font-weight: 500;
}

.btn-link:disabled {
    color: #ccc !important;
    cursor: not-allowed;
}

.form-select-sm {
    border-color: #174546;
    background-color: #f9f9f9;
    color: #174546;
    padding-left: 25px;
    cursor: pointer;
}

.form-select-sm:focus {
    box-shadow: none;
    border-color: #174546;
}





.modal-header .btn-close {
    margin-right: auto; /* Correct alignment for RTL */
    margin-left: 0;
}